// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #A3D5FF; // $winter-wizard;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


$dark-gray: #8F91A2;
$winter-wizard: #A3D5FF;
$light-blue: #D9F0FF;
$off-white: #F4F7F8;
$black: #424B54;

