<div class="footer-container">
  <div class="note">
    <span class="staatliches-font">SUB'S</span> - a subscription manager made by <%= link_to "Bryan", "github.com/bdlb" %> and <%= link_to "Clara", "github.com/claramorgen" %>
  </div>
  <div class="links">
    <%= link_to "Imprint", "#" %>
  </div>
</div>
