<div class="subs-box">
  <div class="more-letter-space">Su</div><div class="less-letter-space">b</div><div class="less-letter-space apostrophe">'</div><div class="less-letter-space">s</div></h1>
</div>
<%= content_for(:after_js) do %>
<% javascript_pack_tag 'apostrophe_wiggle' %>
<% end %>
