<div class="single-sub-show">
  <%= link_to "#", remote: true, id: "close-button", class: "text-left" do %>
    <i class="fas fa-times-circle", id="close-button"></i>
  <% end %>
  <div class="row">
    <div class="col">Title</div>
  </div>
  <div class="row">
    <div class="col">Due Date</div>
  </div>
  <div class="row">
    <div class="col">End Date</div>
  </div>
  <div class="row">
    <div class="col">Category</div>
    <div class="col">Bank</div>
  </div>
  <div class="row">
    <div class="col">Amount</div>
  </div>
</div>
