@import "subscriptions/form";
@import "subscriptions/show";


.new-sub-section {
  text-align: right;
  padding: 5px 50px;
    transition: all 0.8s ease;
  .new-sub-button {
    height: inherit;
    transition: all 0.05s ease;
    background-color: #77BFFC;
    color: $off-white;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
      background-color: $winter-wizard;
    }
  }
}

.top-index {
    width: 100vw;
    // display: flex;
    // justify-content: space-between;
    padding-left: 40px;
    #filter-form {
    .hidden {
      display: none;
    }
    }
}
#total-wrapper {
  position: sticky;
  background: $off-white;
  align-self: flex-end;
  bottom: 45px;
  height: 112px;
  width: 229px;
  border-radius: 30px;
  border: 1px solid $winter-wizard;
  // box-shadow: -1px -1px 5px $winter-wizard;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .total-upper{
    display: flex;
    justify-content: space-between;
  }
  .total-lower{
    display: flex;
    justify-content: flex-end;
  }

}

#subs-part {
  display: flex;
  margin-bottom: 10vh;
    .subscriptions {
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 1 0 100%;
      transition: all 0.6s ease;
      a {
        color: $black;
        text-decoration: none;
      }
    .single-sub {
      height: 55px;
      background-color: $off-white;
      display: flex;
      justify-content: space-between;
      padding: 7px 100px 7px 40px;
      border: 1px solid $winter-wizard;
      align-items: center;
      box-shadow: #c3c3c3 2px 2px 4px;
      transition: all 0.5s ease;
      &:hover {
        background-color: #e0dfdf;
        cursor: pointer;
        .sub-title {
          text-shadow: #A3D5FF 2px 3px 5px;
        }
      }
      .sub-title {
        width: 30%;
        flex-grow: 2;
        margin: 0px;
        transition: all 0.3s ease;
      }
      .single-sub-item {
        flex:0 1 23%;
        p {
          margin-bottom: 0px !important;
        }
      }
      .number-letter-spacing {
        letter-spacing: 1.2px;
      }
    }
  }
}
.form-new, .single-sub-show {
  transition: all 0.2s ease;
  height: 500px;
  background-color: $off-white;
  border-radius: 30px 0 0 30px;
  border: 1px solid $winter-wizard;
  box-shadow: #c3c3c3 2px 2px 4px;
  padding: 20px 80px 20px 20px;
  margin: 0 0 30px 30px;
}

/*

general button styling

*/
.edit-btn, .delete-btn{
 transition: opacity 0.4s ease;

}
.delete-btn{
  color: $red;
  opacity: 0.5;
  &:hover{
    opacity: 1;
    color: $red;
  }
}

.edit-btn{
  color: $winter-wizard;
  &:hover{
    color: $winter-wizard;
    opacity: 0.5;
  }
}
