.new-sub-section {
  text-align: right;
  padding: 5px 50px;
    transition: all 0.8s ease;
  .new-sub-button {
    transition: all 0.05s ease;
    background-color: #77BFFC;
    color: $off-white;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    &:hover {
      text-decoration: none;
      background-color: $winter-wizard;
    }
  }
}
.top-index{
    display: flex;
    justify-content: space-between;
}
#total-wrapper{
  position: sticky;
  background: $off-white;
  left: 950px;
  bottom: 10px;
  height: 112px;
  width: 229px;
  border-radius: 30px;
  border: 1px solid $winter-wizard;
  // box-shadow: -1px -1px 5px $winter-wizard;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .total-upper{
    display: flex;
    justify-content: space-between;
  }
  .total-lower{
    display: flex;
    justify-content: flex-end;
  }

}

.filterbar {
  padding: 5px 50px;
}

.subs-part {
  display: flex;
  margin-bottom: 10vh;
  #new-subs {
    margin-top: -60px;
    transition: all 1s ease;
    transform:translateX(400px);
  }

  .subscriptions {
    position: relative;
    flex:0 0 100%;
    padding: 0 50px;
    transition: all 0.5s ease;
    a {
      color: $black;
      text-decoration: none;
    }
    .single-sub {
      height: 65px;
      background-color: $off-white;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 7px 100px 7px 40px;
      border-radius: 30px;
      border: 1px solid $winter-wizard;
      align-items: center;
      box-shadow: #c3c3c3 2px 2px 4px;
      transition: all 0.5s ease;
      &:hover {
        background-color: #e0dfdf;
        cursor: pointer;
        .sub-title {
          text-shadow: #A3D5FF 2px 3px 5px;
        }
      }
      .sub-title {
        width: 30%;
        flex-grow: 2;
        margin: 0px;
        transition: all 0.3s ease;
      }
      .single-sub-item {
        flex:0 1 23%;
        p {
          margin-bottom: 0px !important;
        }
      }
      .number-letter-spacing {
        letter-spacing: 1.2px;
      }
    }
  }
}
// .active {
//   background-color: #A3D5FF;
//   &:hover{
//   background-color: #A3D5FF;
//   }
// }
