.login-container {
  background-color: $light-blue;
  padding: 20px;
  margin-top: 30px;
  border-radius: 30px;
}

.subs-bottom {
  h1 {
    font-size: 140px;
    color: #E5E5E5;
  }
  position: sticky;
  bottom: 0;
}

.btn-login {
  background-color: $winter-wizard;
  border-radius: 30px;
  margin-bottom: 15px;
}

.round-corners {
  border-radius: 30px;
  border: 1px $winter-wizard solid;

}
