.subs-box {
  display: flex;
  justify-content: flex-end;
  font-size: 140px;
  font-family: Staatliches;
  color: #E5E5E5;
  text-shadow: #D9F0FF 5px 5px 10px;
}

.more-letter-space {
  letter-spacing: 0.3em
}

.less-letter-space {
  letter-spacing: 0.15em;
}

.apostrophe {
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0, 1.65);
}

.wiggle {
  transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
}
